

/* --RESPONSIVE Smartphone width-device < 767px-- */


@media all and (max-width: 767px) 

{
    body {
        width: 100%;
        display: block;
    } 

    #block_page {
        width: 100%;
        overflow-x: hidden;
    } 

    h1, h2, h3 {
        margin-left: 5px;
    }

/*-- header < 767px --*/
    header {
        width: 95%;
        flex-wrap: wrap;
    }
    
    #logo img {
        margin-top: 25px;
        position: absolute;
    }
    
    .navigation {
        width: 100vw;
        position: relative;        
        flex-direction: column-reverse;

      }
      nav ul {
        width: 100%;
        padding-left: 0;
        margin-right: 0;

      }
      nav ul li {
        border-bottom: solid 2.5px #f2f2f2;
        padding-bottom: 15px;
      }
      .overline {
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 25px;
      }
      nav ul li:hover {
        border-bottom: solid 2.5px #0065fc;
        border-top: solid 2.5px transparent;
        padding-bottom: 10px;

      }
      .sinscrire {
        margin-right: 25px;
      }
    
         
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    .search_area {
        width: 100%;
        margin-left: 5px;
    }

    .search input[type=search] {
        width: 200px;
    }

    .button {
        display: none;
    }

    .submit_logo {
        display: inline;
        width: 30px;
        height: 36px;
        padding: 8px 8px 8px 8px;
        background-color: #0065FC;
        border: none;
        border-radius: 0 10px 10px 0;
        font-weight: bold;
        font-size: 1em;
        color: white; 
    }
   
    #search_bar {
        margin-bottom: 20px;
    }
    
    /*-- DIV Recherche < 767px --*/

    #filter {
        display: inline; 
    }

    #title {
        margin : 10px 0 10px 0;
    }

    #economique {
        margin-left: 0;
    }

    #economique, #familial, #romantique, #animaux {
         margin-bottom: 10px;
    }

    /*-- SECTION MAIN_ROOMS < 767px --*/
    /*-- x6 Hébergements + aside populaires) --*/

    #main_rooms {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: center;
    }

    /*-- 1/ HEBERGEMENTS à MARSEILLE --*/
    /* Passe SOUS le aside, qui monte en 1er sous les filtres*
    Se positionne en colonnes, photos en paysage et figcaption dessous */

    #classic_rooms {
        order: 2;
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .classic_content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    .room {
        width: 100%;
        max-width: 300px;
    }



   /* --2/ ASIDE POPULAIRE < 767px-- */
    /* monte au dessus des 6 hébergements classiques
    garde sa mise en forme photo justifiée à gauche, figcpation à droite*/

    aside {
        order: 1;
        width: 100%;
        justify-content: center;
    }

    
    aside img {
        width: 50%;
        object-fit: cover;
    }

    /*-- 3/ ACTIVITES < 767px --*/
    /* Se positionne en colonnes, photos en paysage et figcaption dessous */

    .activity_content {
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: space-around; 
        align-items: center;
    } 

    .column_single, .column_double {
        width: 90%;
    }

    .activity_content figure {
        width: 100%;
        margin-bottom: 20px;
    }

    .activity_content img {
        width: 100%;
        height: 150px;
    }


/*-- FOOTER < 767px --*/

    footer {
        width: 100%;
        height: auto;
        margin-top: 50px;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 15px;
        background-color: #F2F2F2;
        line-height: 10px;
    }
}
/*-- fermeture width-device > 767px --*/








/*-- RESPONSIVE Tablette width-device <from 768px to 1024px> --*/

@media all and (min-width: 768px) and (max-width: 1024px) 
{
    body {
        width: 90%;
        margin: auto;
    }

    #block_page {
        width: 100%;
        margin: auto;
    }

    /* Le header est identique à celui du CSS orginal SAUF pour les filtres en display wrap : */
    /*-- FILTRES <from 768px to 1024px> --*/
    
    #filter {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #animaux {
        margin-top: 10px;
    }

/* --SECTION MAIN_ROOMS <from 768px to 1024px>--*/   

    #main_rooms {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    /* --1/ HEBERGEMENTS à MARSEILLE <from 768px to 1024px> --*/
    
    /* Passe SOUS le aside, qui monte sous les filtres*
    Se positionne en colonnes, photos en paysage et figcaption dessous */

    #classic_rooms {
        order: 2;
        width: 100%;
        height: auto;
        background-color: white;
    }

    .hostel {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }

    .room {
        min-width: 280px;
        padding: 5px;
    }

   /* --2/ ASIDE POPULAIRE <from 768px to 1024px> --*/
    /* monte au dessus des 6 hébergements classiques
    garde sa mise en forme photo justifiée à gauche, figcpation à droite*/

    aside {
        order: 1;
        width: 100%;
        margin-bottom: 15px; 
    }

    aside a {
        width: 70%;
        justify-content: center;
    }

    /* --3/ ACTIVITES <from 768px to 1024px>--*/
    /* Se positionne en colonnes, photos en paysage et figcaption dessous */

    .activity_content {
        width: 100%;
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-around; 
    } 

    .column_single { 
        width: 50%;
        height: 35%;
    }

    .column_double {
        width: 50%;
        height: 50%;
    }

    .activity_content figure {
        width: 80%;
        margin-bottom: 20px;
    }

    .column_double img {
        height: 100%;
    }



    

 /*-- FOOTER <from 768px to 1024px> ---*/

    footer {
        width: 90%;
        height: auto;
        margin-top: 50px;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 15px;
        background-color: #F2F2F2;
        line-height: 10px;
    }
}

/* --RESPONSIVE <from <from 1025px to 1600px> --*/



@media all and (min-width: 1025px) and (max-width: 1600px) 
{
    #body {
        width: 70%;
        margin: auto;
    }
}